{% extends '/client/base.html' %}
{% block title %}Chi tiết tour - VnBookingTravel{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_client.css') }}">
{% endblock %}
{% block content %}
    <!-- Main Content -->
    <main class="main-content">
        <div class="container">
            <div class="row">
                <!-- Left Content -->
                <div class="col-lg-9">
                    <!-- Tour Detail -->
                    <article class="tour-detail" style="display: flow-root;">
                    </article>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}

